<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKREB7d-de_CBoxJeTy7QUCYIt8THC4P4</string>
	<key>GCM_SENDER_ID</key>
	<string>964708349152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bodyGym</string>
	<key>PROJECT_ID</key>
	<string>videosexercise-4fc06</string>
	<key>STORAGE_BUCKET</key>
	<string>videosexercise-4fc06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964708349152:ios:0c1aff509f37ab864a0c85</string>
</dict>
</plist>